<form #userForm="ngForm">

  {{userForm.value | json}}
<div fxLayout="column" fxLayoutGap= "15px">
<div  >
  <label>Name</label><input #name type="text" name="name" ngModel>
  {{name.touched}}
</div>
<div  >
  <label>Email</label>
  <input type="email" ngModel name="email">
</div>
<div  >
  <label>Pone Number</label>
  <input type="tel" ngModel name="phone">
</div>
<div  >
  <select ngModel name="topic">
    <option selected>I am select</option>
    <option *ngFor="let topic of topics">{{topic}}</option>
  </select>
</div>
<div  >
  <input type="radio" value= "morning" ngModel name="Time Preference">
  <label>Morning(9Am-12Am</label>
</div>
<div>
  <input type="radio" value="evening" ngModel name="Tiem Preference" >
  <label>evening(5pm-9pm)</label>
</div>
<div>
  <button type="submit">SumitForm</button>
</div>
</div>
</form>